POSTGRES_USER=postgres
POSTGRES_PASSWORD=<your-password-here>
POSTGRES_CORE_DB=core_db
POSTGRES_USERS_DB=user_db
ConnectionStrings__CoreDb=Host=localhost;Port=5432;Database=core_db;Username=postgres;Password=<your-password-here>
ConnectionStrings__UsersDb=Host=localhost;Port=5432;Database=user_db;Username=postgres;Password=<your-password-here>